kind: Deployment
apiVersion: apps/v1
metadata:
  name: sm1-fakefish
  namespace: fakefish
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sm1-fakefish
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: sm1-fakefish
    spec:
      containers:
        - name: sm1-fakefish
          image: >-
            image-registry.openshift-image-registry.svc:5000/fakefish/fakefish:latest
          args:
            - '--listen-port=9000'
            - '--remote-bmc=10.3.0.5'
          ports:
            - containerPort: 9000
              protocol: TCP
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600

  ---

kind: Service
apiVersion: v1
metadata:
  name: sm1-fakefish
  namespace: fakefish
spec:
  ipFamilies:
    - IPv4
  ports:
    - name: http
      protocol: TCP
      port: 9000
      targetPort: 9000
  internalTrafficPolicy: Cluster
  type: ClusterIP
  ipFamilyPolicy: SingleStack
  sessionAffinity: None
  selector:
    app: sm1-fakefish
status:
  loadBalancer: {}

---

kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: sm1
  namespace: fakefish
spec:
  host: sm1-fakefish.apps.sno.home.lab
  to:
    kind: Service
    name: sm1-fakefish
    weight: 100
  port:
    targetPort: 9000
  tls:
    termination: passthrough
  wildcardPolicy: None